body {
    font-family: 'Comic Sans MS', Arial, sans-serif;
    background: linear-gradient(to bottom, #85d8ce, #a7e9af);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFD700;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0 , 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

nav {
    display: flex;
    justify-content: left;
    background-color: #FFAA00;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 15px;
    transition: color 0.3s;
}

nav a:hover {
    color: #333;
}

main {
    padding: 20px;
    text-align: center;
}

main h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #007BFF;
}

main p {
    font-size: 1.2em;
    line-height: 1.6;
}

.btn-hiver {
    position: relative;
    right:20em ;
    bottom: 30em;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-hiver:hover {
    background-color: #0056b3;
}

.btn-ete {
    position: relative;
    left:20em ;
    bottom: 30em;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-ete:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position:relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color:white;
    font-size: 0.7em;
    text-decoration: underline;
}

.NOU {
    text-align: left;
    line-height: 1.15;
}

.SUR {
    color: red;
    font-size: 1.3em;
}

li {
    text-align: left;
    font-size: 1.2em;
}

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #0a0a0a;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  main img {
    width: 55em;
  }

  .sidenav .barre {
    position: relative;
    left: 45px;
    display: block;
    width:100px ;
    height: 3px;
    background-color: #333;
  }

  .sidenav .select {
    color: #333;
  }