body {
    font-family: 'Comic Sans MS', Arial, sans-serif;
    background: linear-gradient(to bottom, #85d8ce, #a7e9af);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFD700;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0 , 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #FFAA00;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 15px;
    transition: color 0.3s;
}

nav a:hover {
    color: #333;
}

main {
    padding: 20px;
    text-align: center;
}

main h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #007BFF;
}

main p {
    font-size: 1.2em;
    line-height: 1.6;
}

.btn-primary {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position:-ms-page;
    bottom: 0;
    width: 100%;
}

footer a {
    color:white;
    font-size: 0.7em;
    text-decoration: underline;
}

.NOU {
    text-align: left;
    line-height: 1.15;
}

.SUR {
    color: red;
    font-size: 1.3em;
}

li {
    text-align: left;
    font-size: 1.2em;
}

